html, body{
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;

}
body{ height:100vh; margin:0; }

header{ min-height:50px; }
footer{ min-height:50px;}

/* Trick */
body{
  display:flex;
  flex-direction:column;
}

footer{
  margin-top:auto;
}
header{
  margin: 0;
}
.header {
  color: #009e89;
  font-size: 20px;
  margin: 0px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  box-shadow: 0 1px rgba(0,0,0,.1);

}
#changes{
  text-align: left;
}
#i_logo{




  margin-top: 20px;
    text-align: center;

}

#t_changes{
  font-size: 14px;
  text-align: center;

}
#b_download{
  border-radius: 20px;
  background-color: #009e89;
  text-decoration: none;
  padding: 8px;
  color: #ffffff;
}
#b_download:hover{
  border-radius: 20px;
  background-color: #16c7b0;
  text-decoration: none;
  padding: 8px;
}
.l_download{
  text-align: center;
}
#attachments{
  text-align: center;

}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #009e89;
    margin: 0; padding: 0; }
footer{
  background-color: #009e89;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
  padding: 16px;
  color: #ffffff;
}

p {
  padding: 8px;
}
a {
  color: #009e89;
  text-decoration: none;
}
a:hover{

  color: #16c7b0;
  text-decoration: none;

}
.attach:hover {
  background-color: #009e89;
}
.footer_text{
  color: #fff;


}
.footer_text:hover{
  color: #fff;

}
.wrapper {
  display: flex;
}

.wrapper div:first-child, .wrapper p:first-child {
  flex: 1;
}
.wrapper div:nth-child(2) {
  flex: 2;
  text-align: center;
}
.textfooter{
  padding: 0;
  margin: 0;
}
#licnt15E8{
  display: flex;
}
.questions{
  color: #fff;
  text-decoration:  none;

}
.questions:hover{
  color: #fff;
  text-decoration: underline;
}
