html, body{
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;

}
body{ height:100vh; margin:0; }

header{ min-height:50px; }
footer{ min-height:50px;}

/* Trick */
body{
  display:flex;
  flex-direction:column;
}

footer{
  margin-top:auto;
}
header{
  margin: 0;
}
.header {
  color: #009e89;
  font-size: 20px;
  margin: 10px;

}
#changes{
  text-align: left;
}
#i_logo{





    text-align: center;

}

#t_changes{
  font-size: 14px;
  text-align: center;

}
#b_download{
  border-radius: 20px;
  background-color: #009e89;
  text-decoration: none;
  padding: 8px;
  color: #ffffff;
}
#b_download:hover{
  border-radius: 20px;
  background-color: #16c7b0;
  text-decoration: none;
  padding: 8px;
}
#l_download{
  text-align: center;
}
#attachments{
  text-align: center;

}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #009e89;
    margin: 0; padding: 0; }
footer{
  background-color: #009e89;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
  padding: 16px;
  color: #ffffff;
}

p {
  padding: 8px;
}
.attach:hover {
  background-color: #009e89;
}
