nav {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  background-color: #009e89;
}
footer {
  margin-top: 30px;
  padding-top: 10px;
  color: #aaaaaa;
  border-top: 1px solid #aaaaaa;
}
head {
  background-color: #009e89;
}

