body, html {

	position: relative;
	font-family: system-ui;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 20px;
}

html {
	height: 100%;
}

body {
	min-height: calc(100% - 50px);
	background-color: #Ffffff;
	color: #131313;
}

header {
	position: relative;
	white-space: nowrap;
	height: 50px;
	color: #Ffffff;
	background: #009e89;
    box-shadow: 0 0 10px #757575; /* Параметры тени */
    padding: 10px;
}

footer {
	position: absolute;
	bottom: -50px;
	width: 100%;
	background-color: #757575;
	color: #Ffffff;
	white-space: nowrap;
	height: 100px;
}
main {
	text-align: center;
}
.footer {
	margin: 10px;
}
.statistics {
	float: right;
}
